services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      BACKEND_HOST: ${BACKEND_HOST:-backend}
      BACKEND_PORT: ${BACKEND_PORT:-8080}
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - internal

  backend:
    image: ghcr.io/qmemorycards/backend:latest
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://memory-cards-db:5432/${POSTGRES_DB:-memory_cards}
      SPRING_DATASOURCE_USERNAME:  ${POSTGRES_USER:-user}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD:-password}
    depends_on:
      - db
    networks:
      - internal
    expose:
      - "8080"

  db:
    image: postgres:15
    container_name: memory-cards-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-memory_cards}
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    expose:
      - "5432"
    networks:
      - internal
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  internal:
    driver: bridge

volumes:
  postgres_data:
