name: CI Pipeline

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  GITHUB_REPO: ${{ github.repository }}
  NODE_VERSION: 24
  # if some time we need versioning, we can use tags here
  # like :${{ github.sha }} or :${{ github.ref_name }}-${{ github.sha }}
  IMAGE_TAG: latest

jobs:
  build-and-publish:
    #if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Build and Publish Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Define image name env
        run: echo "IMAGE_NAME=${GITHUB_REPO,,}" >>${GITHUB_ENV}

      - name: Build image
        run: |
          docker build \
          --cache-from=type=gha \
          --cache-to=type=gha,mode=max \
          -t $REGISTRY/$IMAGE_NAME:$IMAGE_TAG .

      - name: Log in
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push Docker image
        run: docker push $REGISTRY/$IMAGE_NAME:$IMAGE_TAG
